*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Allerta Stencil', sans-serif;
  background-color: #f2f2f2;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px 0 30px;
  background-color: black;
  height: 20vh;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 10px;
  margin: 0;
  letter-spacing: 4px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.new-post {
  max-width: 400px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-post form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #45a049;
}

.form-group textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
}

.page-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.index-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}



.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 70vw;
}

.read-more {
  padding: 10px 20px;
  background-color: #363bcc;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.created-at {
  color:#949494;
}

.content {
  line-height: 1.5;
  margin-bottom: 6px;
  align-self: flex-start;
}

.back {
  padding: 10px 20px;
  background-color: #363bcc;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}
