*{
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Allerta Stencil', sans-serif;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px 0 30px;
  background-color: black;
  height: 20vh;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 10px;
  margin: 0;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.container {
  display: flex;

}
